{
  "{lib,bin}/**/*.js": [
    "prettier --no-semi --use-tabs --single-quote --trailing-comma es5 --write",
    "git add"
  ],
  "*.md": [
    "prettier --prose-wrap always --write",
    "git add"
  ]
}
